{% extends "base.html" %}

{% block title %}Стримы{% endblock %}

{% block content %}
<h1>Стримы</h1>
<p style="text-align:center">Здесь вы можете посмотреть мой стрим.</p>



<div class="video-container">
    <video class="center" id="video" controls="" poster="{{ url_for('static', filename='offline.jpg') }}" width="600" autoplay="" src="{{ url_for('static', filename='test.mp4') }}"></video>
</div>
<!-- Подключаем библиотеку hls.js -->
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script src="{{ url_for('static', filename='streams.js') }}"></script>
{% endblock %}